.order-item-row {
  display: grid;
  grid-template-columns: 25% 15% 15% 15% 20% 10%;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
}

.cell {
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem;
  font-weight: 500;
  color: #666;
}

.cell--subtotal{
    margin-left: 25px;
}

.remove-btn {
  height: 32px;
  width: 32px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-icon {
  height: 14px;
  width: 14px;
}
